@import 'tailwindcss';

:root {
  /* Black / White */
  --color-black: #2b2926;
  --color-background: #fffdf7;

  /* Grey */
  --color-grey: #909090;
  --color-input-border: rgba(43, 41, 38, 0.5);

  /* Primary */
  --color-primary-500: #ff9526;
  --color-primary-300: #fcc389;
  --color-primary-200: #ffdbab;
  --color-primary-100: #ffecd2;

  /* Etc */
  --color-red: #ed4848;
  --color-red-300: #f28484;
  --color-red-100: #ebcfcf;

  --color-blue-300: #6ebced;
  --color-blue-100: #c7dee9;

  --color-pink-500: #fca9a4;
  --color-pink-300: #ffbfbb;
  --color-pink-100: #ffeae5;
}

body {
  font-weight: 500;
  font-family: 'GmarketSansMedium';
  font-weight: 500;
  color: var(--color-black);
  -ms-overflow-style: none;
}

.card__hover {
  @apply cursor-pointer transition-all duration-200 hover:-translate-y-1 hover:scale-102 hover:shadow-[0_10px_15px_rgba(0,0,0,0.3)];
}

.input-style {
  @apply rounded-[12px] border border-[var(--color-input-border)];
}

.profile-input-style {
  @apply rounded-[10px] border-1 border-[var(--color-primary-300)] px-4 py-[11px] leading-[1.2] focus:outline-[var(--color-primary-500)] sm:py-[14px];
}

.profile-checkbox-style {
  @apply inline-block w-full cursor-pointer rounded-[10px] border-1 border-[var(--color-primary-300)] py-[10px] text-center leading-[1.2] hover:bg-[var(--color-primary-300)] sm:mr-4 sm:w-[95px];
}

.profile-title-style {
  @apply mr-3 hidden text-[var(--color-grey)] sm:inline;
}

.auth__input {
  @apply mt-3 h-[40px] rounded-[10px] border border-[#2B2926]/50 py-[13px] pl-4 text-[14px] font-medium placeholder:text-[#909090] focus:outline-none;
}

.sidebar__content {
  @apply flex h-[52px] w-60 cursor-pointer items-center gap-3 py-[10px] pl-8 hover:border-r-8 hover:border-[#FF9526] hover:bg-[#FFDBAB] hover:text-[#FF8200] sm:w-[220px] sm:py-3 sm:pl-6;
}

.sidebar__content-active {
  @apply border-r-8 bg-[#FFDBAB] text-[#FF8200];
}

.board__btn {
  @apply flex h-[36px] w-[100px] cursor-pointer items-center justify-center gap-1 bg-[var(--color-pink-100)] hover:bg-[var(--color-pink-300)] sm:h-[64px] sm:w-[152px] sm:gap-[7px];
}

.guide-card {
  @apply flex min-w-[196px] basis-[calc(50%-10px)] cursor-pointer flex-col items-start gap-[2px] border border-[var(--color-primary-500)] bg-[#FFF5E9] px-2 py-2 text-xs sm:px-4 sm:py-2 sm:text-base;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.calendar-circle {
  position: relative;
  z-index: 1;
}

.calendar-circle::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  background: var(--color-primary-500);
  border-radius: 100%;
  z-index: -1;
}
